<div class="music-item">
    <div class="cover-image">
        <img src="{{info.smallThumb.url}}" onerror="this.src='assets/images/error.png'"/>
        <span class="artist-name">{{info.artist.name}}</span> <!-- TODO: artist or album?? -->
        <span class="song-name">{{info.title}}</span>
    </div>
    <div class="details">
        <div class="column">
            Difficulty 
            <div class="stat">{{info.difficulty ? info.difficulty : "?"}}</div>
        </div>
        <div class="column">
            Genre
            <div class="stat">{{info.genre ? info.genre : "?"}}</div>
        </div>
        <div class="column">
            Length
            <div class="stat" ng-if="info.metaData.totalTime">{{info.metaData.totalTime | secondsToTime}}</div>
            <div class="stat" ng-if="!info.metaData.totalTime">?</div>
        </div>
    </div>
</div>